<div class="left-footer">
  <h1>Register</h1>
  <div class="left-footer-bottom" id="left-footer-bottom">
    <form class="password-frame" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <mat-form-field class="auth-input">
        <mat-label>Username</mat-label>
         <input
          type="text"
          formControlName="username"
          matInput
          placeholder="Username"
          (focus)="resetController()"
        /> 
        <mat-hint>Your username</mat-hint>
        <mat-error>
          {{
            usernameFormControl.hasError("required")
              ? "Username is required"
              : usernameFormControl.hasError("minlength")
              ? "Username must be at least 8 characters long"
              : usernameFormControl.hasError("maxlength")
              ? "Username must be at most 20 characters long"
              : ""
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="auth-input">
        <mat-label>Email</mat-label>
         <input
          type="email"
          formControlName="email"
          matInput
          placeholder="Ex. pat@example.com"
          (focus)="resetController()"
        /> 
      
        <mat-hint>Your email address</mat-hint>
        <mat-error>
          {{
            emailFormControl.hasError("email")
              ? "Not a valid email"
              : emailFormControl.hasError("required")
              ? "Email is required"
              : ""
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="auth-input">
        <mat-label>Password</mat-label>
         <input
          type="password"
          formControlName="password"
          matInput
          placeholder="*********"
          (focus)="resetController()"
        /> 
        <mat-hint>Your password</mat-hint>
        <mat-error>
          {{
            passwordFormControl.hasError("required")
              ? "Password is required"
              : passwordFormControl.hasError("minlength")
              ? "Password must be at least 8 characters long"
              : passwordFormControl.hasError("maxlength")
              ? "Password must be at most 20 characters long"
              : ""
          }}
        </mat-error>
      </mat-form-field>
      <button class="new-user-registration">
        <div class="new-user-type" id="newUserType"></div>
        <a class="signin" href="/login">
          Register
        </a>
      </button>
      <div class="new-user-registration1">
        <div class="existing-user-prompt">
          <div class="register">
            <div class="register-as-buyer">
              <div class="dont-have-an">Already registered?</div>
              <a class="register-as-buyer1" id="registerAsBuyer" href="/login">
                Log in to existing account
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>