/* .images {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}

.product-grid {
  display: flex;
  gap: 2em;
  padding: 2em;
  flex-wrap: wrap; 
  justify-content: flex-start;
  width: 100%; 
}

.product {
  flex: 0 0 calc(33.333% - 2em); 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.product-image {
  aspect-ratio: 518 / 760;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 1em;
}

.product-image img {
  max-width: 100%; 
  max-height: 100%; 
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-bottom: 1em;
}
 */

 .page-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

.sidebar {
  /* Add styles for your sidebar */
  flex: 0 0 25%;
}

.main-content {
  flex-grow: 1;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.product {
  flex: 0 0 calc(33.333% - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-bottom: 1em;
}
