<!-- Header section with class "frame-a" -->
<header class="frame-a">
    <!-- Image element with class "frame-a-child" and source "./public/rectangle-1.svg" -->
    <img class="frame-a-child" alt="" src="../../../assets/rectangle-1.svg" />

    <!-- Container with class "frame-b" -->
    <div class="frame-b">
      <!-- Search icon image element with class "search-icon" and source "./public/search.svg" -->
      <img class="search-icon" loading="lazy" alt="" src="../../../assets/search.svg" id="searchIcon" />
    </div>

    <!-- Text element with class "search-store" -->
    <div class="search-store">Search store</div>

    <!-- Container with class "products-frame" -->
    <div class="products-frame">
      <div class="person-frame"></div>
      <div class="search">Search</div>
    </div>

    <!-- Container with class "frame-d" -->
    <div class="frame-d">
      <!-- Container with class "group-e" -->
      <div class="group-e">
        <!-- Container with class "products-parent" and id "groupContainer" -->
        <div class="products-parent" id="groupContainer">
          <div class="products">products</div>
          <div class="rectangle-g"></div>
        </div>
        <!-- Person icon image element with class "person-icon" and source "./public/person.svg" -->
        <img class="person-icon" loading="lazy" alt="" src="../../../assets/person.svg" id="personIcon" />
      </div>
    </div>
  </header>