body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

.product-page-child {
  align-self: stretch;
  height: 854px;
  position: relative;
  background-color: var(--c1-j);
  display: none;
}
.downloads {
  height: 30px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.frame-child7,
.frame-child8 {
  align-self: stretch;
  height: 72px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.downloads-parent {
  width: 178.4px;
  height: 161.2px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px 0;
}
.frame-child9 {
  height: 84px;
  width: 1440px;
  position: relative;
  display: none;
  max-width: 100%;
}
.frame-icon1,
.search-store3 {
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.search-store3 {
  height: 28.7px;
  width: 170px;
  font-weight: 500;
  display: none;
  -webkit-text-stroke: 1px #000;
  white-space: nowrap;
}
.frame-icon1 {
  width: 39px;
  height: 38px;
  overflow: hidden;
  z-index: 1;
}
.frame-frame {
  height: 44px;
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.search-icon3 {
  position: relative;
  cursor: pointer;
  top: 3px;
  height: 31.3px;
  width: 24.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 31px;
  z-index: 1;
}
.search-group input {
  padding: 0px 10px;
}
.product-name {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-91xl);
  background-color: var(--color-gainsboro);
  max-width: 100%;
  z-index: 2;
}
.search-bar,
.search-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-group {
  align-self: stretch;
  height: 31px;
  flex-direction: row;
  gap: 0 8px;
}
.search-bar {
  width: 619px;
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.products6,
.separator-line {
  position: relative;
}
.separator-line {
  align-self: stretch;
  height: 1.7px;
  background-color: var(--color-black);
}
.group-div {
  height: 27px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  cursor: pointer;
  z-index: 1;
}
.person-icon4 {
  height: 32px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.person-icon3 {
  cursor: pointer;
  width: 149px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 43px;
  color: var(--color-black);
  font-family: var(--font-abyssinica-sil);
}
.vector-container {
  align-self: stretch;
  background-color: var(--color-silver-200);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-smi) 91px var(--padding-8xl) var(--padding-15xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  font-family: var(--font-circular-std);
}
