<header class="vector-container">
    <img class="frame-child9" alt="" src="../../../assets/rectangle-1.svg" />

    <div class="search-store3">Search store</div>
    <div class="frame-frame">
      <img
        class="frame-icon1"
        loading="lazy"
        alt=""
        src="../../../assets/frame.svg"
        id="frameIcon"
      />
    </div>
    <div class="search-bar">
      <div class="search-group">
        <img
          class="search-icon3"
          loading="lazy"
          alt=""
          src="../../../assets/search.svg"
        />

        <input type="search" name="" placeholder="Search Products" class="product-name" id="">
      </div>
    </div>
    <div class="person-icon3">
      <div class="group-div" id="groupContainer">
        <div class="products6">products</div>
        <div class="separator-line"></div>
      </div>
      <img
        class="person-icon4"
        loading="lazy"
        alt=""
        src="../../../assets/person.svg"
      />
    </div>
  </header>