<div class="table">
    <div class="inner-table">
        <h1>{{message}}</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef class="order-column"> Product Number </th>
              <td mat-cell *matCellDef="let element"> 
                <div class="image-with-text">
                    <div class="image">
                        <img src={{element.thumbnail}} alt="">
                    </div>
                    <div class="img-text">
                        <div class="img-text-top">{{element.id}}</div>
                        <div class="img-text-bottom">{{element.description.slice(0,20)+'...'}}</div>
                    </div>
                </div>
            </td>
            </ng-container>
          
            <!-- Price Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> <div class="price">
                ${{element.title.slice(0,10)+"..."}}
              </div> </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> price </th>
              <td mat-cell *matCellDef="let element"> <div class="price">
                ${{element.price}}
              </div> </td>
            </ng-container>
          
            <!-- Stock Column -->
            <ng-container matColumnDef="stock" > 
              <th mat-header-cell *matHeaderCellDef > Stock </th>
              <td mat-cell *matCellDef="let element" class="To-bold"> <div >
                {{element.stock}}
              </div>
                </td>
        </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category" > 
              <th mat-header-cell *matHeaderCellDef > Category </th>
              <td mat-cell *matCellDef="let element" class="To-bold"> <div >
                {{element.category}}
              </div>
                </td>
        </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description" > 
              <th mat-header-cell *matHeaderCellDef > Description </th>
              <td mat-cell *matCellDef="let element" class="To-bold"> <div >
                {{element.description.slice(0,15)+"..."}}
              </div>
                </td>
        </ng-container>

            <!-- Orders Completed Column -->
            <ng-container matColumnDef="completed" > 
              <th mat-header-cell *matHeaderCellDef > Orders Completed </th>
              <td mat-cell *matCellDef="let element" class="To-bold"> <div >
                {{element.ordersCompleted}}
              </div>
                </td>
        </ng-container>
          
        
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary">Edit Details </button></td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>