<main>
    <div class="container">
        <div class="order-details">
            <h2>Order #15478</h2>
            <p>21st Mart 2021 at 10:34 PM</p>
            <table>
                <thead>
                    <tr>
                        <th>Product Details</th>
                        <th>Quantity</th>
                        <th> </th>
                        <th> </th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>Mist black tribendle</p>
                            <p>Color: White</p>

                        </td>
                        <td>01</td>
                        <td></td>
                        <td></td>
                        <td>$36.00</td>
                    </tr>
                    <!-- More products... -->
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>Subtotal</td>
                                    <td>$107.85</td>
                                </tr>
                                <tr>
                                    <td>Shipping Cost</td>
                                    <td>$0.00</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>-$0.00</td>
                                </tr>
                                <tr>
                                    <td>Order Total</td>
                                    <td>$107.85</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="order-status">
            <h2>Order Status:</h2>
            <div class="timeline">
                <div class="status active">
                    <p>Received</p>
                </div>
                <div class="status">
                    <p>Packed</p>
                </div>
                <div class="status">
                    <p>Shipped</p>
                </div>
                <div class="status">
                    <p>Out for Delivery</p>
                </div>
                <div class="status">
                    <p>Delivered</p>
                </div>
            </div>
            <div class="button-container">
                <button class="cancel-order-button" style="margin-left: 300px;">Cancel Order</button>
                <button class="close-button" style="margin-right: 200px;">Close</button>
            </div>
        </div>
    </div>
</main>