<!-- Explore section with class "explore" -->
<div class="explore">
  <!-- Heading element with class "explore1" -->

  <h2 class="explore1">Explore</h2>

  <!-- Container with class "search-container" -->
  <div class="search-container">
    <!-- Container with class "explore-frame" -->
    <div class="explore-frame">
      <!-- Image container with class "image-15-parent" -->
      <h2><b>Electronics<b></b><h2>  
        <br>
           <h2><b>Cloths<b><h2>
            <br>
      <h2><b>Accessories</b><h2>
        <br>
      <div>
  </div>
<div>