html,
body,
* {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 70px;
    background-color: #C0BAB0;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.25rem;
}

nav {
    position: absolute;
    right: 2rem;
    display: flex;
    border: 2px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
}

.nav-link {
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
}

.nav-link:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
}

.nav-link:nth-child(3) {
    border-radius: 0 1rem 1rem 0;
}

main {
    padding-top: 5rem;
    padding-left: 1rem;
}

.flex-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
}

.date-inputs {
    display: flex;
    gap: 2rem;
}

.monthly-data {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

.sales-data,
.orders-data {
    width: 200px;
    height: 80px;
    box-shadow: 10px 9px 42px 0px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 10px 9px 42px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 9px 42px 0px rgba(0, 0, 0, 0.57);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visualizations {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    gap: 8rem;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.sales-growth,
.orders-growth {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* Styling for the input buttons. very lengthy and repetitive */

.textfield-outlined {
    position: relative;
    margin-bottom: 20px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.textfield-outlined input {
    box-sizing: border-box;
    width: 100%;
    padding: 9px 13px 9px;
    font-size: 1rem;
    line-height: inherit;
    color: #272e36;
    border-style: solid;
    border-width: 1px;
    border-color: transparent #92969a #92969a;
    border-radius: 4px;
    -webkit-text-fill-color: currentColor;
    background-color: transparent;
    caret-color: #3d6f9e;
    transition: border 0.2s, box-shadow 0.2s;
}

.textfield-outlined input:not(:focus):-moz-placeholder-shown {
    border-top-color: #92969a;
}

.textfield-outlined input:not(:focus):-ms-input-placeholder {
    border-top-color: #92969a;
}

.textfield-outlined input:not(:focus):placeholder-shown {
    border-top-color: #92969a;
}

.textfield-outlined input+label {
    display: flex;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 15px;
    color: #92969a;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

.textfield-outlined input:not(:focus):-moz-placeholder-shown+label {
    font-size: 14px;
    line-height: 54px;
}

.textfield-outlined input:not(:focus):-ms-input-placeholder+label {
    font-size: 20px;
    line-height: 54px;
}

.textfield-outlined input:not(:focus):placeholder-shown+label {
    font-size: 20px;
    line-height: 54px;
}

.textfield-outlined input+label::before,
.textfield-outlined input+label::after {
    content: "";
    display: block;
    box-sizing: border-box;
    height: 8px;
    min-width: 10px;
    margin-top: 6px;
    border-top: solid 1px #92969a;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border 0.2s;
}

.textfield-outlined input+label::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.textfield-outlined input+label::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

.textfield-outlined input:not(:focus):-moz-placeholder-shown+label::before,
.textfield-outlined input:not(:focus):-moz-placeholder-shown+label::after {
    border-top-color: transparent;
}

.textfield-outlined input:not(:focus):-ms-input-placeholder+label::before,
.textfield-outlined input:not(:focus):-ms-input-placeholder+label::after {
    border-top-color: transparent;
}

.textfield-outlined input:not(:focus):placeholder-shown+label::before,
.textfield-outlined input:not(:focus):placeholder-shown+label::after {
    border-top-color: transparent;
}

.textfield-outlined input:focus {
    border-color: transparent #3d6f9e #3d6f9e;
    outline: none;
}

.textfield-outlined input:focus+label {
    color: #3d6f9e;
}

.textfield-outlined input:focus+label::before,
.textfield-outlined input:focus+label::after {
    border-top-color: #3d6f9e;
}

.textfield-outlined input:disabled,
.textfield-outlined input:disabled+label {
    color: rgba(189, 192, 197, 0.5);
    border-color: transparent rgba(189, 192, 197, 0.5) rgba(189, 192, 197, 0.5);
    cursor: not-allowed;
}

.textfield-outlined input:disabled+label::before,
.textfield-outlined input:disabled+label::after {
    border-top-color: rgba(189, 192, 197, 0.5);
}

.textfield-outlined input:disabled:-moz-placeholder-shown,
.textfield-outlined input:disabled:-moz-placeholder-shown+label {
    border-top-color: rgba(189, 192, 197, 0.5);
}

.textfield-outlined input:disabled:-ms-input-placeholder,
.textfield-outlined input:disabled:-ms-input-placeholder+label {
    border-top-color: rgba(189, 192, 197, 0.5);
}

.textfield-outlined input:disabled:placeholder-shown,
.textfield-outlined input:disabled:placeholder-shown+label {
    border-top-color: rgba(189, 192, 197, 0.5);
}

.textfield-outlined input:disabled:-moz-placeholder-shown+label::before,
.textfield-outlined input:disabled:-moz-placeholder-shown+label::after {
    border-top-color: transparent;
}

.textfield-outlined input:disabled:-ms-input-placeholder+label::before,
.textfield-outlined input:disabled:-ms-input-placeholder+label::after {
    border-top-color: transparent;
}

.textfield-outlined input:disabled:placeholder-shown+label::before,
.textfield-outlined input:disabled:placeholder-shown+label::after {
    border-top-color: transparent;
}