html,
body,
* {
    padding: 0;
    margin: 0;
}

main {
    padding-top: 5rem;
    padding-left: 1rem;
}

.flex-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
}

.date-inputs {
    display: flex;
    gap: 2rem;
}

.monthly-data {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

.sales-data,
.orders-data {
    width: 200px;
    height: 80px;
    box-shadow: 10px 9px 42px 0px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 10px 9px 42px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 9px 42px 0px rgba(0, 0, 0, 0.57);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visualizations {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    gap: 8rem;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.sales-growth,
.orders-growth {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sales-growth-chart {
    width: 80%;
}