<!-- <div class="images">
    <div *ngFor="let row of [1, 2, 3]">
        <div class="product-grid">
            @for (product of productData; track product) {
            <div class="product">
                <img class="product-image" loading="lazy" alt="" src="{{ product }}" />
            </div>
            }
        </div>
    </div>
</div> -->



<div class="images">
    <div class="product-grid">
      <div *ngFor="let product of product | product: searchText">
        <div class="product">
          <img class="product-image"  [src]="product.thumbnailUrl" alt="{{ product.title }}" />
          <h3 class="product-title">Name:{{ product.title }}</h3>
          <h3 class="product-title">Category:{{ product.category }}</h3>
          <h4 class="product-price">{{ product.price | currency: 'USD' }}</h4>
          <a [routerLink]="['/product']" [queryParams]="{ _id: product._id }">
            <button class="product-button">View</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  
