<!-- <div class="images">
    <div *ngFor="let row of [1, 2, 3]">
        <div class="product-grid">
            @for (product of productData; track product) {
            <div class="product">
                <img class="product-image" loading="lazy" alt="" src="{{ product }}" />
            </div>
            }
        </div>
    </div>
</div> -->


<div class="images">
  <div *ngFor="let row of [1, 2, 3]">
      <div class="product-grid">
          @for (product of productData; track product) {
          <div class="product">
              <img class="product-image" loading="lazy" alt="" src="{{product}}" />
              <h3 class="product-title">{{ product.category }}</h3>
              <p class="product-price">{{ product.price | currency: 'USD' }}</p>
              <!-- <a class="product-button" id="registerAsBuyer" href="/product">view product</a> -->
              <a href="/checkout"><button class="product-button">Checkout</button></a>
          </div>
          }
      </div>
  </div>
</div>