<!-- <div class="images">
    <div *ngFor="let row of [1, 2, 3]">
        <div class="product-grid">
            @for (product of productData; track product) {
            <div class="product">
                <img class="product-image" loading="lazy" alt="" src="{{product.imageUrl}}" />
                <h3 class="product-title">{{ product.category }}</h3>
                <p class="product-price">{{ product.price | currency: 'USD' }}</p>
                <a class="product-button" id="registerAsBuyer" href="/product">view product</a>
                
            </div>
            }
        </div>
    </div>
</div> -->

<div class="main-content">
    <div class="product-grid">
      <div *ngFor="let product of filteredProductData" class="product-item">
        <!-- Display the product image -->
        <img [src]="product.imageUrl" alt="Product Image" class="product-image" />
  
        <!-- Display the product category -->
        <div class="product-category">{{ product.category }}</div>
  
        <!-- Display the product price -->
        <div class="product-price">${{ product.price }}</div>
      </div>
    </div>
  </div>
  