* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    height: 70px;
    background-color: #C0BAB0;
    display: flex;
    align-items: center;

}

.home img {
    height: 40px;
    width: 40px;
    background-color: #C0BAB0;
    margin-left: 20px;
}

.body {
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content {
    height: 80%;
    width: 75%;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-content {

    width: 90%;
    height: 90%;
    color: aquamarine;
}

.left-header {
    font-weight: bolder;
    font-size: 1.3em;
    color: #f25019;
    margin: 0;
    width: 250px;
    position: relative;
    font-weight: bolder;
    font-family: Poppins;
    align-items: center;
    flex-shrink: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 1;
}

.right {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
}