<app-navbar></app-navbar>
<div class="main-content">
    <div class="address-selection">
        <label id="select-address">Shipping Address</label>
        <form class="new-address-form" (ngSubmit)="onSubmit()" [formGroup]="addressForm">
            <table class="address-name-section">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <p>
              <mat-form-field class="street-address">
                <mat-label>Street Address</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St" formControlName="streetAddress"></textarea>
              </mat-form-field>
            </p>
            <table cellspacing="0" class="address-other-details">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Apt Number</mat-label>
                    <input matInput placeholder="Ex. San Francisco" formControlName="apartmentNumber">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Ex. California" formControlName="state">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Zip</mat-label>
                    <input matInput #postalCode maxlength="6" placeholder="Ex. 410006" formControlName="zipcode">
                    <mat-hint align="end">{{ postalCode.value.length }} / 6</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <button type="submit" mat-raised-button color="primary">Submit</button>
          </form>
          
        <!-- <add-new-address></add-new-address> -->
        <!-- <div class="saved-addresses" *ngfor="addresses"></div> -->
    </div>
    <div class="order-details-section">
        <div class="order-detail">
            <div class="place-order-section">
                <button mat-raised-button color="primary">Place Order</button>
                <h3>By placing an order, you agree to our company <a href="">Privacy Policy</a>
                    and <a href="">Conditions of use</a></h3>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="order-detail">
            <div class="order-summary-section">
                <h1>Order Summary</h1>
                <div class="order-row">
                    <div class="left">Items(3)</div>
                    <div class="right">56.73</div>
                </div>
                <div class="order-row">
                    <div class="left">Shipping and Handling</div>
                    <div class="right">5.50</div>
                </div>
                <div class="order-row">
                    <div class="left">Before tax</div>
                    <div class="right">62.23</div>
                </div>
                <div class="order-row">
                    <div class="left">Tax Collected</div>
                    <div class="right">8.21</div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="order-detail">
            <div class="order-total-section">
                <div class="left">Order Total: </div>
                <div class="right">$70.44</div>
            </div>
        </div>
    </div>
</div>